body {
  background-image: url("grey023.jpg");
  color: white;
}
h1 {
  font-family: Lucida Console, Monaco, monospace;
}
h2, h3 {
  font-family: Courier New, Monaco, monospace;
}
p {
  font-family: Monaco, Courier New, monospace;
}







